/* Full screen center */
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e7e4d2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.auth-container {
    width: 100%;
    max-width: 480px;
}

.auth-card {
    border-radius: 16px;
    background-color: #f6efd6;
    animation: popIn 0.7s ease-out forwards;
}

.auth-title{
    color: #4e0f0f;
}

.auth-subtitle {
    font-size: 0.9rem;
    color: #1a1a18;
}

.toggle-link {
    cursor: pointer;
    color: #4e0f0f;
    font-weight: 500;
}

.toggle-link:hover {
    text-decoration: underline;
}

.btn-auth {
    background-color: #551414;
    color: #fff;
    border: 3px rgb(122, 21, 21);
}

.btn-auth:hover {
    background-color: #751a1a;
    color: #fff;

}
    .bbh-hegarty-regular {
    font-family: "BBH Hegarty", sans-serif;
    font-weight: 400;
    font-style: normal;
}


label {
    font-size: 0.85rem;
    font-weight: 500;
}
@keyframes popIn {
    from {
        opacity: 0;
        transform: translateY(30px) scale(0.98);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
.pop-animation {
    animation: popIn 0.6s ease-out;
}

.input-error {
    border: 2px solid #dc3545 !important;  /* Bootstrap danger color */
    background-color: #ffe6e6;
}

.error-message {
    color: #dc3545;
    font-size: 0.85rem;
    margin-top: 4px;
}



.btn-auth {
    position: relative;
}

.btn-auth:disabled{
    background-color: #541514;
    opacity: 0.5;
}

#register-btn-spinner {
    pointer-events: none;
}

.spinner-btn{
    right: 12px; top: 50%; transform: translateY(-50%); opacity: 0; transition: opacity 0.2s;
}
