body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e7e4d2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.auth-container {
    width: 50%;
    max-width: 480px;
  
}

.auth-card {
    border-radius: 16px;
    background-color: #f6efd6;

}

.auth-title{
    color: #4e0f0f;
}

.auth-subtitle {
    font-size: 0.9rem;
    color: #1a1a18;
}

.title{
    font-size: 28px;
    color: #1a1a18;
}

.btn-auth {
    background-color: #551414;
    color: #fff;
    border: 3px rgb(122, 21, 21);
    transition: all 0.3s ease;
}

.btn-auth:hover {
    background: #6a1717;
    transform: translateY(-2px);
    color: #fff;
}

.bbh-hegarty-regular {
    font-family: "BBH Hegarty", sans-serif;
    font-weight: 400;
    font-style: normal;
}
