/* ================= GLOBAL THEME VARIABLES ================= */
:root {
    --bg: #e7e4d2;
    --surface: #f6efd6;
    --navbar: #d7b071;
    --divider: rgba(85, 20, 20, 0.8);
    --primary: #551414;
    --primary-hover: #6b1b1b;
    --text: #333;
    --muted: #797979;
    --border: rgba(85, 20, 20, 0.15);
    --bs-navbar-brand-color: var(--primary);
    --bs-navbar-brand-hover-color: var(--primary-hover);

    /* brand button system */
    --btn-bg: #551414;
    --btn-text: #ffffff;
    --btn-border: #551414;

    --btn-hover-bg: #6b1b1b;
    --btn-hover-color: white;
    --btn-hover-border: #6b1b1b;

    --btn-active-bg: #3e0d0d;
    --btn-active-border: #3e0d0d;

    --btn-disabled-bg: #b7a7a7;
}

[data-theme="dark"] {
    --bg: #0f1115;
    --surface: #1a1d23;
    --navbar: #15181d;
    --divider: rgb(255, 75, 75 ,0.8);
    --primary: #ff4b4b;
    --primary-hover: #ff6b6b;
    --tag-btn: #2a2a2b;
    --text: #e6e6e6;
    --muted: #666;
    --border: rgba(255,255,255,0.08);

    /* ONLY for write.it */
    --bs-navbar-brand-color: var(--primary);
    --bs-navbar-brand-hover-color: var(--primary-hover);

    --btn-bg: #ff4b4b;
    --btn-text: #ffffff;
    --btn-border: #ff4b4b;

    --btn-hover-bg: #ff6b6b;
    --btn-hover-color: black;
    --btn-hover-border: #ff6b6b;

    --btn-active-bg: #cc3c3c;
    --btn-active-border: #cc3c3c;

    --btn-disabled-bg: #5a3a3a;

}


/* global element overrides */
body { 
    background-color: var(--bg); 
    color: var(--text); 
}

.article-body,
.article-title,
.article-excerpt,
.article-body
.info-value{
    color: var(--text); 
}

.page-subtitle,
.stat-label,
.subtext,
.results-count,
.word-counter,
.article-meta {
    color: var(--muted);
}
.page-title,
.stat-number,
.section-title,
.article-title,
.nav-link,
.tags-label,
.profile-title,
.username-display,
.author-name,
.navbar-brand {
    color: var(--primary);
}

.vertical-divider,.horizontal-divider
{
    background-color: var(--divider); 
}

.custom-navbar {
    background-color: var(--navbar); 
}

.toolbar-btn,
.edit-image-overlay,
.btn-cancel{
    background-color: var(--surface);
    border: 2px solid var(--divider);
    color: var(--text);
}

.btn-cancel:hover,

.page-header,
.side-panel,
.article-card,
.entity-header,
.profile-card,
.edit-image-overlay,
.editor-card,
.empty-state {
    background-color: var(--surface);
}

.form-control,
.info-row,
.social-link-display,
.tag-input-container,
.tag-input-field,
.profile-image,
.toolbar{
    background-color: var(--bg);
    border-color: var(--divider);
    color: var(--text);
}

.form-control:focus{
    background-color: #0f1115;
    border-color: var(--divider);
    color: var(--text);
}

.tag-btn,
.edit-section-btn{
    background-color: var(--tag-btn);
    color: var(--text);
    border: 1px solid var(--btn-border);
}

.tag-btn:hover,
.edit-section-btn:hover{
    background-color: var(--primary);
    color: black;
}

.form-label,
.read-more
{
    color: var(--divider);
}

.btn {
    --bs-btn-bg: var(--btn-bg);
    --bs-btn-color: var(--btn-text);
    --bs-btn-border-color: var(--btn-border);

    --bs-btn-hover-bg: var(--btn-hover-bg);
    --bs-btn-hover-border-color: var(--btn-hover-border);

    --bs-btn-active-bg: var(--btn-active-bg);
    --bs-btn-active-border-color: var(--btn-active-border);

    --bs-btn-disabled-bg: var(--btn-disabled-bg);
    --bs-btn-disabled-border-color: var(--btn-disabled-bg);
}

.btn-outline-dark,
.btn-outline-secondary {
    --bs-btn-color: var(--primary);
    --bs-btn-border-color: var(--primary);

    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--btn-bg);
    --bs-btn-hover-border-color: var(--btn-bg);

    --bs-btn-active-bg: var(--btn-active-bg);
    --bs-btn-active-border-color: var(--btn-active-bg);
}



.action-btn,
.back-btn,
.sort-btn,
.btn-save,
.pagination-controls button,
.create-btn,
.offcanvas-toggle-btn {
    border-color: var(--btn-border);
    color: var(--btn-text);
    background: var(--btn-bg);
}

.action-btn:hover,
.sort-btn:hover,
.back-btn:hover,
.pagination-controls button:hover,
.create-btn:hover,
.offcanvas-toggle-btn:hover {
    background: var(--btn-hover-bg);
    border-color: var(--btn-hover-border);
}
