:root {
    --bg1: #f6efd6;
    --bg2: #eef2b7;
    --surface: #fbf0c7;
    --navbar: #84994F ;
    --divider: rgba(45, 56, 22, 0.8);
    --primary: #551414;
    --primary-hover: #6b1b1b;
    --int-text: #551414;
    --discard: #;
    --text: #333;
    --muted: #797979;
    --border: rgba(45, 56, 22, 0.45);
    --bs-navbar-brand-color: var(--primary);
    --bs-navbar-brand-hover-color: var(--primary-hover);

    /* brand button system */
    --btn-bg: #551414;
    --btn-text: #ffffff;
    --btn-border: #551414;

    --btn-hover-bg: #2b390d;
    --btn-hover-color: white;
    --btn-hover-border: #2b390d;

    --big-btn-hover-bg: #970404;
    --big-btn-hover-color: white;
    --big-btn-hover-border: #551414;

    --btn-active-bg: #0f0101;
    --btn-active-border: #e7a3a3;

    --btn-disabled-bg: #b7a7a7;
}

[data-theme="dark"] {
    --bg1: #16181c;
    --bg2: #120b0b;
    --surface: #1c1f23;
    --navbar: #120b0b;
    --divider: rgb(255, 75, 75 ,0.8);
    --primary: #ff4b4b;
    --primary-hover: #ff6b6b;
    --int-text: white;
    --tag-btn: #2a2a2b;
    --text: #e6e6e6;
    --muted: #666;
    --border: rgba(255,255,255,0.08);

    /* ONLY for write.it */
    --bs-navbar-brand-color: var(--primary);
    --bs-navbar-brand-hover-color: var(--primary-hover);

    --btn-bg: #ff4b4b;
    --btn-text: #ffffff;
    --btn-border: #ff4b4b;

    --btn-hover-bg: #c03232;
    --btn-hover-color: white;
    --btn-hover-border: #ff6b6b;

    --big-btn-hover-bg: #c03232;
    --big-btn-hover-color: white;
    --big-btn-hover-border: #ff6b6b;

    --btn-active-bg: #965d5d;
    --btn-active-border: #cc3c3c;

    --btn-disabled-bg: #5a3a3a;

}

.navbar-brand{
    display:inline-block;
    transform-origin:center bottom;
    animation:breathe 4s ease-in-out infinite;
}

/* the breathing motion */
@keyframes breathe{
    0%   { transform: translateY(0px) scale(1); }
    50%  { transform: translateY(-4px) scale(1.06); }
    100% { transform: translateY(0px) scale(1); }
}

body,
.offcanvas { 
    background-image:linear-gradient(to bottom right,var(--bg1) 5%,var(--bg2));
    color: var(--text); 
}

.article-body,
.article-title,
.article-excerpt,
.article-body
.info-value{
    color: var(--text); 
}

.page-subtitle,
.stat-label,
.subtext,
.results-count,
.word-counter,
.article-meta {
    color: var(--muted);
}
.page-title,
.stat-number,
.section-title,
.article-title,
.nav-link,
.tags-label,
.modal-title,
.profile-title,
.username-display,
.offcanvas-title,
.author-name,
.navbar-brand,
.btn-close,
.form-label,
.read-more {
    color: var(--primary);
}

.read-more:hover{
    color: var(--primary-hover);
}

.vertical-divider,.horizontal-divider
{
    background-color: var(--divider); 
}

.custom-navbar,
.offcanvas-header {
    background-color: var(--navbar); 
    border-bottom: 2px solid var(--border);
}


.edit-image-overlay,
.btn-cancel,
.btn-secondary-custom{
    background-color: var(--surface);
    border: 1.7px solid var(--primary);
    color: var(--text);
}

.btn-cancel:hover,
.btn-secondary-custom:hover{
    transform: translateY(-2px);
}

.page-header,
.side-panel,
.article-card,
.entity-header,
.profile-card,
.edit-image-overlay,
.editor-card,
.empty-state {
    background-color: var(--surface);
    border: 2px solid var(--border);
}

.info-row,
.social-link-display,
.tag-input-container,
.tag-input-field,
.profile-image,
.toolbar{
    background-color: var(--bg);
    border-color: var(--border);
    color: var(--text);
}

.form-control,
.modal-content{
    background-color: var(--surface);
    border: 2px solid var(--border);
}

.form-control:focus{
    background-color: var(--bg1);
    border-color: var(--divider);
    color: var(--text);
}

.tag-btn,
.toolbar-btn,
.edit-section-btn{
    background-color: var(--tag-btn);
    color: var(--text);
    font-weight: 600;
    border: 1.7px solid var(--btn-border);
    transition: background-color .15s ease, color 0.15s ease;
}

.tag-btn:hover,
.edit-section-btn:hover,
.toolbar-btn:hover{
    background-color: var(--btn-hover-bg);
    color: var(--btn-hover-color);
    border: 1.7px solid var(--btn-hover-border);
}

.btn {
    --bs-btn-bg: var(--btn-bg);
    --bs-btn-color: var(--btn-text);
    --bs-btn-border-color: var(--btn-border);

    --bs-btn-hover-bg: var(--btn-hover-bg);
    --bs-btn-hover-border-color: var(--btn-hover-border);

    --bs-btn-active-bg: var(--btn-active-bg);
    --bs-btn-active-border-color: var(--btn-active-border);

    --bs-btn-disabled-bg: var(--btn-disabled-bg);
    --bs-btn-disabled-border-color: var(--btn-disabled-bg);
}

.btn-outline-dark,
.btn-outline-secondary {
    --bs-btn-color: var(--primary);
    --bs-btn-border-color: var(--primary);

    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--btn-bg);
    --bs-btn-hover-border-color: var(--btn-bg);

    --bs-btn-active-bg: var(--btn-active-bg);
    --bs-btn-active-border-color: var(--btn-active-bg);
}

.action-btn,
.back-btn,
.sort-btn,
.btn-save,
.pagination-controls button,
.btn-primary-custom,
.create-btn,
.offcanvas-toggle-btn {
    border-color: var(--btn-border);
    color: var(--btn-text);
    background: var(--btn-bg);
    transition: background-color 0.15s ease;
}

.interaction-btn{
    background-color: var(--tag-btn);
    color: var(--int-text);
    border: 2px solid var(--primary);
}

.action-btn:hover,
.sort-btn:hover,
.back-btn:hover,
.btn-save:hover,
.btn-primary-custom:hover,
.pagination-controls button:hover,
.create-btn:hover,
.offcanvas-toggle-btn:hover {
    background: var(--big-btn-hover-bg);
    border-color: var(--big-btn-hover-border);
}

.sort-btn.active {
    background-color: var(--btn-active-bg);
}